<form #f="ngForm">
    <mat-card>
        <mat-card-content>
            <div>
                <mat-form-field>
                    <input type="text" matInput [(ngModel)]="nomeCliente" #nome="ngModel" [class.is-invalid]="nome.invalid && nome.touched"
                        name="nome" placeholder="Nome"  required>
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput [(ngModel)]="empregoCliente" #emprego="ngModel" [class.is-invalid]="emprego.invalid && emprego.touched"
                        name="emprego" placeholder="Emprego"  required>
                </mat-form-field>

            </div>
        </mat-card-content>
        <div>
            <button mat-raised-button color="primary" [disabled]="!f.valid">Cadastrar</button>
        </div>
    </mat-card>
</form>